.img{
   width: 100%;
}
.card{
    width: 100%;

}
.last-product-body{
    width: 100%;
    padding-bottom: 35px;
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
    justify-content: space-around;
    position: relative;

}

.product-img{
    width:50%;
    display: flex;
    align-items: center;
}
.product-info{
    width: 50%;
}
.description {
    text-align: justify;
    padding-right: 10px;
    font-size: 22px;
   
}

.detail-button button{
    background-color: rgb(78, 120, 211);
    font-size: 20px;
    right: 10px;
    border-radius: 5%;
    border: none;
    padding: 10px;
    color: white
}
.detail-button{
    position: absolute;
    right: 10px;
    bottom: 0px;
}