.content{
    width: 100%;
    padding: 15px;
}


.card-content{
    width: 100%;
}

.card-body{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
    padding: 18px 0px 10px 10px;
    justify-content: space-around;
    border: solid 3px rgb(174, 171, 171);
    border-radius: 5px;
}
.info-col{
    width:70%;
    justify-content: right;
    font-size: 28px;
}
.icon-col{
    width: 20%;
    text-align: right;
}
.fa-flag{
    color: #3569d8
}
.fa-users{
    color:#4c1d85
}
.fa-heart{
    color:#d83535
}