* { 
    margin: 0;
    box-sizing: border-box;

}

.content-father{
    width: 100vw;
    display: block;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.top-bar{
    display: block;
    width: 100%;
}
.content-row{
    display: flex;
    flex-wrap: flex;
    width: 100%;
}
.last-product{
    width: 57%;
    padding: 15px;
    margin-left: 10px;
    display: block;
    align-items: center;

    border-radius: 5%;
    padding: 10px;
    justify-content: center;
}
.categories-count{
    width: 38%;
    display: block;
    justify-content: center;
    align-items: center;
}
.products-list{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}
.productlist-item{
    width:70%;
    display: flex;
    flex-wrap: wrap;
}