.product{
    width: 100%;
    border: solid 3px rgb(174, 171, 171);
    padding: 10px;
    margin:20px 10px;
    border-radius: 5%;
}
.product-content{
    width:100%;
}
.product-card{
    width: 100%;
    padding: 15px;
}
.product-img{
    display: flex;
    justify-content: center;
}
.product-name{
    font-size: 30px;
    font-weight: 800;
}
.product-description{
    font-size: 28px;
    font-weight: 400;
    text-align: justify;
}
.product-detail{
   padding: 15px;
   display: flex;
   justify-content: right;
}
